/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* :root{
  --first-hue: 250;
  --sat: 66%;
  --lig:75%;
  --second-hue: 219;

  --first-color: hsl(var(var(--first-hue), var(var(--sat),var(var(--lig)))));
  --first-color-alt: hsl(var(var(--first-hue),var(var(--sat),71%)));
  --title-color:hsl(var(var(--second-hue),15%, 95%));
  --text-color:hsl(var(var(--second-hue),8%,75%));
  --text-color-light:hsl(var(var(--second-hue), 4%, 55%));
  --body-color: hsl(var(var(--second-hue),48%,8%));
  --container-color:hsl(var(var(--second-hue), 32%, 12%));

  --body-font: ;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semibold: 600;

  --z-toltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

nav {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "Dongle", sans-serif;
}

nav.sticky {
  background: #4070f4;
  padding: 1px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 65px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  /* font-size: 50px; */
  margin: 0 px;
  position: relative;
}

.navbar .menu li {
  font-size: 30px;
  margin: 0 25px;
  list-style: none;
  color: #4070f4;
}

.navbar .menu a {
  font-size: 33px;
  font-weight: 600;
  color: #0e2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #4070f4;
}

nav.sticky .menu a {
  color: #fff;
}

nav.sticky .menu a:hover {
  color: #0e2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 25px;
  margin: 0 13px;
}

nav.sticky .media-icons a {
  color: #fff;
}

nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #fff;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* home section */
.home {
  height: 100vh;
  width: 100%;
  background: url("image/cover-removebg-preview.png") no-repeat;
  background-position: right center;
  background-size: 600px 750px;
  background-attachment: fixed;
  font-family: "Dongle", sans-serif;
}

.home .home-content {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text .text-one {
  font-size: 70px;
  color: #0e2431;
}

.home .text .text-two {
  font-size: 150px;
  font-weight: 600px;
  margin-top: -50px;
  margin-left: -3px;
  color: #0e2431;
}

.home .text .text-three {
  font-size: 70px;
  margin: 5px 0;
  margin-top: -60px;
  color: #4070f4;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: "Dongle", sans-serif;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0e2431;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* .about .about-details .left {
  width: 45%;
} */
/* .about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
} */


/* About Section Start*/
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-details .right {
  width: 100%;
  font-size: 30px;
}

/* section .topic {
  color: #0e2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
} */


.about-details .right p {
  text-align: justify;
  color: #0e2431;
}
/* About Section End */

/* Project Section Start*/
.project .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.project .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.project .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.project .boxes .box p {
  font-size: 25px;
}

.project .boxes .box .topic {
  font-size: 40px;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}

.project .boxes .box:hover .topic,
.project .boxes .box:hover p {
  color: #0e2431;
  transition: all 0.4s ease;
}

.project .boxes .box:hover .topic,
.project .boxes .box:hover p {
  color: #fff;
}

/* Project Section End */


/* Contact CSS */
/* .contact_container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact_title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}
.contact_info{
  display: grid;
  gap: 1rem;
}
.contact_card{
  background-color: #686e7e;
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}
.contact_card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}
.contact_card-title,
.contact_card-data{
  font-size: var(--small-font-size);
}

.contact_card-title{
  font-size: var(--font-medium);
}
.contact_card-data {
  display: block;
  margin-bottom: .75rem;
}
.contact_button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}
.contact_button:hover .contact_button-icon{
  transform: translate(.25rem);
}
.contact_button-icon{
  font-size: 1rem;
  transition: .4s;
}
.contact_form-div{
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}
.contact_form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: none;
  color: #4070f4;
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 2;
}
.contact_form-tag{
  position: absolute;
  top: -.95rem;
  left: 1.25rem;
  font-size: 20px;
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
}
.contact_form-area{
  height: 11rem;
}
.contact_form-area textarea{
  resize: none;
} */

/* Contact section start */
.contact-box {
  position: relative;
  width: 100%;
  /* min-height: 1vh; */
  padding: 1rem;
  /* background-color: #fafafa; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 920px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  /* z-index: 1000; */
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #4070f4;
  position: relative;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #4070f4;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact-info .title {
  color: #fff;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}

textarea {
  height: 130px;
}

textarea .input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 1.3rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #4070f4;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #4070f4;
  justify-content: left;
}

.text {
  color: #333;
  margin: 0.5rem 0 2rem 0;
  font-size: 25px;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
  font-size: 30px;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #4070f4, #4070f4);
  color: #fff;
  text-align: center;
  line-height: 43px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

/* .contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
} */

/* .big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
} */

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  /* .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  } */

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 37px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

/* end */

/* Footer Section Start */
footer {
  background: #4070f4;
  padding: 1px 0;
  text-align: center;
  font-family: "Dongle", sans-serif;
}

footer .text span {
  font-size: 30px;
  font-weight: 550;
  color: #fff;
}

footer .text span a {
  font-weight: 550;
  color: #fff;
}

footer .text span a:hover {
  text-decoration: underline;
  color: #0e2431;
}
/* Footer Section End */


/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #00030c;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive media queries */
@media (max-width: 1190px) {
  section .content {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .project .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }
}


/* Skill Section Start*/
section .skill {
  display: grid;
  grid-gap: 30px;
  padding: 15px;
  /* margin-inline: auto; */
}

@media screen and (min-width:600px) {
  .skill {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:600px) {
  .skill {
    grid-template-columns: 1fr;
  }
}

.skill .set {
  background-color: white;
  padding: 15px 30px;
  border-radius: 16px;
  cursor: pointer;
}

.skill .set {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.skill .set:hover {
  background: #4070f4;
  color: #fff;
}

.set>header {
  padding-block: 20px;
  font-size: 35px;
  text-align: center;
  /* text-transform: capitalize; */
}

.set .list {
  padding-block: 10px;
  display: grid;
  grid-template-columns: 1fr 28px;
  color: #151616;
  font-size: 25px;
  /* text-transform: uppercase; */
}

.set:hover .list {
  color: white;
}

/* Skill Section End*/